*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container1{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background-color: skyblue;
    align-items: center;
    color: #ffffff;
    padding: 10px 30px;
}
input{
    background-color: #339AF0;
    border-radius: 3px;
    border: none;
    height: 100%;
    width: 100%;
}

input:focus{
    background-color: white;
    border: none;
}
.container1 a{
    text-decoration: none;
    color: #ffffff;
}
.header{
    display: flex;
    align-items: center;
}
.fa-home{
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #339AF0;
    border-radius: 3px;
}
.fa-times{
    width: 90px;
    height: 30px;
    padding: 5px;
}
.fa-list{
    width: 90px;
    height: 30px;
    background-color: #339AF0;
    padding: 5px 5px 5px 8px;
    border-radius: 3px;
}
.div1{
    padding-left: 10px;
    padding-right: 10px;
}
.div{
    width: 120px;
    height: 30px;
}
.container1 .fa-plus{
    width: 30px;
    height: 30px;
    padding: 6px 6px 6px 8px;
    background-color: #339AF0;
    border-radius: 3px;
}
.fa-user-alt{
    width: 30px;
    height: 30px;
    padding: 6px 6px 6px 7px;
    background-color: #339AF0;
    border-radius: 3px;
}
.accounts div{
    padding-right: 10px;
}
.logo h3{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: lightgray;
    color: #ffffff;
}
.con21, .con22 a span{
    font-family: 'Piazzolla', serif;
}
.con22 a{
    text-decoration: none;
    color: #ffffff;
}
.container-main{
    display: inline-flex;
    padding: 10px;
    margin: auto;
}
.container3{
    background-color: lightgray;
    padding: 10px;
    margin: 5px;
}
.container3 .do{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container3 .p1{
    margin-top: 20px;
    background-color: #ffffff;
}
.container3 .p1 p{
  padding: 10px 150px 10px 10px;
}
.container3 .add{
    margin-top: 10px;
}
.container3 a{
    text-decoration: none;
    color:black;
}

.add-doing{
    margin-left: 0px;
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    background-color: olive;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}
textarea{
    margin-left: 0px;
    margin-top: 10px;
    display: inline-flex; 
    padding: 10px 150px 10px 10px;
}